@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Happy+Monkey&display=swap');

html {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #DCDCDC;
}

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 8px;
}

.top-nav .add {
  margin-top: 10px;
}

.brand {
  color: #31A01C;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  margin-left: 10px;
}

#chessboard {
  width: 690px;
  height: 690px;
  border: 25px solid #333;
  margin-top: 0;
  position: absolute;
}

table td {
  width: 90px;
  height: 90px;
  vertical-align: middle;
  text-align: center;
  padding: 2px 0 5px 0;
}

.white {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

.black {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #999;
  font-size:50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.highlighted a {
  background-color: #0F0;
}

#selected {
  color: red;
}

.disappear {
  position: absolute;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

a {
  color: inherit;
}

.check {
  font-size: 26;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.new-game {
  text-align: center;
}

.new-game h1 {
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
}

.new-game .btn {
  margin-bottom: 20px;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
}

.new-game .btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.index {
  text-align: center;
}

.index h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  letter-spacing: 125%;
  text-align: left;
}

.games {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.games h2 {
  margin-bottom: 20px;
}

.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1529699211952-734e80c4d42b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 10px;
  font-family: 'Happy Monkey', cursive;
}

.booyah-box h2 {
  font-weight: bold;
  font-family: 'Happy Monkey', cursive;
}

.booyah-box h1 {
  font-weight: bold;
  font-family: 'Happy Monkey', cursive;
}

.avatar {
  text-decoration:none;
  background:#36bed4;
  color:#36bed4;
  position:relative;
  padding-left:55px;
  width:150px;
  height:200px;
  border-radius:250px;
  display:block;
  line-height:240%;
  overflow:hidden;
}
.avatar:before, .avatar:after {
  position:absolute;
  color:#36bed4;
  background:white;
  box-shadow:0 0 10px 0px rgba(0,0,0,0.2);
}
.avatar:before {
  content: "\00a0";
  border: 0px solid white;
  border-radius: 75px;
  top: 20px;
  left: 43%;
  height: 100px;
  width: 100px;
  line-height: 70%;
  font-size: 44px;
  font-weight: normal;
  text-indent: -1px;
  margin-left: -25%;
  z-index:5;
}
.avatar:after {
  content: "\00a0";
  border-radius: 20px;
  top: 115px;
  left: 43%;
  width: 100px;
  height: 103px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
  line-height: 130%;
  margin-left: -25%;
}