@import "bootstrap";

.top-nav {
  background-color: white;
  border-bottom-color: #edeeee;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 70px;
  padding-top: 15px;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 8px;
}

.top-nav .add {
  margin-top: 10px;
}

.brand {
  color: #31A01C;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  margin-left: 10px;
}

#chessboard {
  width: 690px;
  height: 690px;
  border: 25px solid #333;
}

table td {
  width: 90px;
  height: 90px;
  vertical-align: middle;
  text-align: center;
  padding: 2px 0 5px 0;
}

.white {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #fff;
  font-size:50px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;
}

.black {
  float: left;
  width: 80px;
  height: 80px;
  background-color: #999;
  font-size:50px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.highlighted a {
  background-color: #0F0;
}

#selected {
  color: red;
}

.disappear {
  position: absolute;
  float: left;
  width: 80px;
  height: 80px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

a {
  color: inherit;
}

.check {
  font-size: 20;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.new-game {
  text-align: center;
}

.new-game h1 {
  margin-top: 20px;
  font-family: 'Oswald', sans-serif;
}

.new-game .btn {
  margin-bottom: 20px;
  font-size: 150%;
  font-family: 'Oswald', sans-serif;
}

.new-game .btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.index {
  text-align: center;
}

.index h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  letter-spacing: 125%;
  text-align: left;
}

.games {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.games h2 {
  margin-bottom: 20px;
}

.jumbotron {
  background-image: url(https://images.unsplash.com/photo-1529699211952-734e80c4d42b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}